<div id="home" class="tab-pane active bg-white"><br>
    <div class="bg-image" style="height: 45vw;">
        <img class="w-100 p-0 mt-3 img-wrap" src="assets/blue-pencils.webp"
            style="position: absolute; left:0;right:0; display: block;" />
        <div class="container text-light w-100 pt-4 pt-md-5 mt-sm-0 mt-md-4 mt-lg-5"
            style=" position: absolute; left:0;right:0; display: block;">
            <h1>Imagine the Future</h1>
            <p>Put your passion to work. Find out how to create social impact.</p>
            <a href="https://www.uvu.edu/socialimpact/" class="btn btn-warning">Learn More</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <aside class="d-none d-md-block col-md-3">
                <div class="sticky-top" id="sticky-sidebar"><br><br>
                    <ul class="list-unstyled sidebar-list mt-5">
                        <li><a class="nav-link border-start border-2 link-secondary" href="#home-who">Who we
                                are</a></li>
                        <li><a class="nav-link border-start border-2 link-secondary" href="#home-what">What we
                                do</a></li>
                        <li><a class="nav-link border-start border-2 link-secondary" href="#home-how">How to
                                join</a></li>
                        <li><a class="nav-link border-start border-2 link-secondary"
                                href="#home-schedule">Schedule</a></li>
                    </ul>
                </div>
            </aside>
            <div class="col-md-9 col-lg-8">
                <div id="home-who"><br><br>
                    <h1>Who we are</h1>
                    <p>We are the Social Impact League! A community formed around solving real world challenges
                        together! Teams of up to four students work together on a project centered on one of six
                        social impact pathways - direct service (green), community engaged learning & research
                        (blue), social entreprenuership & corporate social responsibility (purple), policy &
                        governance (red), community organizing & activism (orange), and philanthropy (yellow).
                        You can learn more about each topic on the official <a
                            href="https://www.uvu.edu/socialimpact/">UVU Office for social impact website</a>.
                    </p>
                    <img class="w-100 mb-4" src="assets/pathways.png" />
                </div>
                <div id="home-what"><br><br><br><br>
                    <h1>What we do</h1>
                    <img class="w-100 mb-4" src="assets/hands-globe.jpeg" />
                    <p>Over the course of 3 months, teams have the option to work together on one of the
                        following three types of projects:</p>

                    <ul class="list-unstyled">
                        <li><b>Prototype Sprint</b>
                            <p>students identify a problem that they are passionate about and then use (or
                                acquire) their skills needed to develop and present an early
                                technical/organizational prototype that solves a need for a population or
                                community; these projects are similar to those in the Microsoft <a
                                    href="https://imaginecup.microsoft.com/en-us/Events?id=0">Imagine Cup</a>.
                            </p>
                        </li>
                        <li><b>Campaign Development</b>
                            <p>Students identify a public issue through polling and utilize their marketing
                                skills to develop a strategic plan for a public call-to-action or educational
                                goal. Campaigns are encouraged to collaborate with companies, not-for-profits,
                                government entities, and other partners. For more examples, visit the <a
                                    href="http://azuremedia.org/azuremedia.org/social_impact_campaigns.html">article
                                    on Social Impact Campaign</a> by azure media.</p>
                        </li>
                        <li><b>Workshop Development</b>
                            <p>Students create content that fellow students and Social Impact fellows can use to
                                teach their communities.</p>
                        </li>
                    </ul>
                    <br>
                    <p>Student team members may receive the following benefits as a result of participation:
                    <dl class="row">
                        <dt class="col-sm-2">Scholarship</dt>
                        <dd class="col-sm-10">up to full tuition per school year.</dd>
                        <dt class="col-sm-2">Mentorship</dt>
                        <dd class="col-sm-10">valuable feedback from social impact ambassadors, technical
                            professionals, and resume advice.</dd>
                        <dt class="col-sm-2">Recognition</dt>
                        <dd class="col-sm-10">project showcase to students, faculty, alumni, and national and
                            international impact organizations.</dd>
                    </dl>
                    </p>
                </div>
                <div id="home-how"><br><br><br><br>
                    <h1>How to join</h1>
                    <img class="w-100 mb-4" src="assets/girl-looking.jpeg" />
                    <p>Send an email to thisisademo@uvu.edu before 12/15/2022 with the following information:
                    </p>
                    <ul>
                        <li>All team members' name and student ID</li>
                        <li>The team name</li>
                        <li>Up to two of the six pathways chosen</li>
                        <li>Description of project</li>
                    </ul>
                </div>
                <div id="home-schedule"><br><br><br><br>
                    <h1>Schedule</h1>
                    <dl class="row">
                        <dt class="col-sm-2">11.11.2022</dt>
                        <dd class="col-sm-10">Info session and Q&A</dd>
                        <dt class="col-sm-2">12.15.2022</dt>
                        <dd class="col-sm-10">Application deadline</dd>
                        <dt class="col-sm-2">3.5.2023</dt>
                        <dd class="col-sm-10">League kickoff</dd>
                        <dt class="col-sm-2">4.24.2023</dt>
                        <dd class="col-sm-10">Final presentation</dd>
                        <dt class="col-sm-2">4.30.2023</dt>
                        <dd class="col-sm-10">Winner announcement</dd>
                        <dt class="col-sm-2">5.1.2023</dt>
                        <dd class="col-sm-10">Public showcase and award</dd>
                    </dl>
                </div>
                <br><br>
            </div>
        </div>
    </div>
    <br><br><br>
</div>