<ul class="nav nav-pills" role="tablist">
    <li class="nav-item">
        <a class="nav-link" href="#home" id="home_nav">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#teams" id="teams_nav">Teams</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#players" id="players_nav">Players</a>
    </li>
</ul>